
<html>
<meta name="viewport" content="width=device-width, initial-scale=1" />

<head>
<link rel="stylesheet" type="text/css" href="styles.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="underscore.js"></script>
<script src="backbone.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

<script src="app.js"></script>

<script>

	 $(function() {
   $( "#datepicker" ).datepicker();

     $( "party_select" ).selectmenu();
  });

	
   
</script>

</head>

<body>

<h3>Birthday Party Venues </h3>



<!-- templates -->

<div id="main-container">
	
	




</div>

<div id="booking-form-container">
	</div>


<script type="text/template" id="detailed-venue-template">

	<div class="detailed-venue">

	<div class="photo-gallery"> </div>

	<div class="text-details">
		<ul>
			<li> Specific venue details will be populated here (and styled later)</li>

	</div>

	<button class="btnBook" type="button">Book Party</button>

	</div>



</script>

<script type="text/template" id="venue-template">
		<div class="single-venue" >
			<span><h3> <%=name  %> <h3> </span>
			<span class="neighborhood"> <%=neighborhood %> </span>
			<span> <%= type %> </span>
			<p> <%= descriptionBrief %> </p>

		</div>
		<hr>
	</script>


<script type="text/template" id="booking-form-template">

  <% $(function() {
   $( "#datepicker" ).datepicker();

     $( "party_select" ).selectmenu();
  });
  %>


	<div id="form-container" >
		<form id="booking-form">
			<input type="text">Name 
			<input type="text">Cell Phone 
			<p>Date: <input type="text" id="datepicker"> </p>



			 <label for="party_select">Select a Party</label>
			    <select name="speed" id="speed">
			      <option>Slower</option>
			      <option>Slow</option>
			      <option selected="selected">Medium</option>
			      <option>Fast</option>
			      <option>Faster</option>
			    </select>

			  <label for="num_people">How many people do you expect?</label>
			  	<select name="num_people" id="num_people">
			  		<option>1-5</option>
			  		<option>6-10</option>
			  		<option>10-15</option>
			  		<option> 15+</option>
			  	</select>


		</form>


	</div>

	

</script>


</body>

</html>
